@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf');
}

* {
    -fx-font-family: 'Press Start 2P';
    -fx-text-fill: white;
}

.plus-sign {
    -fx-font-weight: bold;
    -fx-background-color: rgba(1, 1, 1, 0);
    -fx-font-size: 2em;
}

.btn {
    -fx-background-color: rgb(66, 39, 18);
}

.btn:hover {
    -fx-cursor: hand;
    -fx-border-color: #c5c5c5;
}

.gladiator-card {
    -fx-border-width: 1;
    -fx-border-style: dashed;
    -fx-border-color: black;
    -fx-background-color: rgb(91, 53, 24);
    -fx-spacing: 10px;
}

.name-field {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.start-game-btn {
    -fx-pref-height: 40px;
    -fx-pref-width: 150px;
}