.bottom-menu {
    -fx-padding: 0px 0px 5px 0px;
    -fx-background-color: rgb(91, 53, 24);
}

.dice-button {
    -fx-background-color: rgb(66, 39, 18);
}

.dice-button:hover {
    -fx-cursor: hand;
    -fx-border-color: #c5c5c5;
}